@page "/Tasks"

<div class="mb-2 mx-2 d-flex justify-content-between">
    <div>
        <h1>My Tasks</h1>
    </div>
    <div>
        <button @onclick="NavigateToCreateTask" class="btn btn-primary">Create New</button>
    </div>
</div>

@if (TaskList is null)
{
    <h2>Loading...</h2>
    <ErrorMessage Message="@GetErrorMessage"/>
}
else
{
    foreach (var errorMessage in DeleteErrorMessages)
    {
        <ErrorMessage Message="@errorMessage"/>
    }

    <div class="table-responsive">
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Subject</th>
                <th>Group</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var task in TaskList ?? new List<TaskDto>())
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Name</td>
                    <td>@task.Description</td>
                    <td>@task.Category.Name</td>
                    <td>@(task.Subject?.Name ?? "None")</td>
                    <td>@(task.Group?.Name ?? "None")</td>
                    <td style="width:6%">
                        <button class="btn btn-info" @onclick="() => NavigateToEditTask(task.Id)">Update</button>
                        @* <button class="btn btn-danger" @onclick="() => DeleteGroup(task.Id)">Delete</button> *@
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}