@page "/subjects/{id:int}"

<h3>UpdateSubject</h3>

@if (Subject is null)
{
    @if (GetErrorMessage is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <ErrorMessage Message="@GetErrorMessage"/>
    }
}
else
{
    <EditForm Model="Subject" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator/>
        <ErrorMessage Message="@PutErrorMessage"/>
        <TextInputField @bind-Value="Subject.Name" Label="Name" ValidationFor="@(() => Subject.Name)"/>

        @foreach (var (groupName, subjectTime) in Subject.SubjectTimes)
        {
            <label for="@($"time {subjectTime.Id}")">@(groupName):</label>
            <InputDate @bind-Value="@subjectTime.Time" class="form-control" Type="InputDateType.Time" id="@($"time {subjectTime.Id}")"/>
        }

        <SubmitButton IsValid="@context.Validate()">Update</SubmitButton>
    </EditForm>
}